.portada__criptos {
    width: 100%;
    height: 550px;
    background: url("../../img/portada.jpg") no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-end;
    padding-bottom: 50px;
    margin-bottom: 20px;
    color: rgb(189, 0, 117);
    
  
  
  & h2{
    margin-bottom: 10px;
    font-size: 28px;
}
  & p {
    margin-bottom: 10px;
    font-size: 18px;
  }
  
  & .btn {
    margin-top: 20px;
  }

  }


.noticias1__criptos {
    width: 100%;
    height: 350px;
    background: url("../../img/image-three.jpg") no-repeat center center/cover;
    margin-bottom: 40px;

    & .content {
    width: 40%;
    padding: 90px 0 0 30px;
    color: #fff;
    }
    
    & p,
    .noticias2__criptos p {
    margin: 10px 0 20px 0;
    }
}
    
    /* Noticia grande 2*/
    .noticias2__criptos {
    width: 100%;
    height: 350px;
    background: url("../../img/image-five.jpg") no-repeat center center/cover;
    

    & .content {
    width: 50%;
    padding: 100px 0 0 30px;
}
}


/* Responsive */
@media (max-width: 700px){
  
    .noticias1__criptos .content,
    .noticias2__criptos .content {
      width: 80%;
    }

  }
  
  @media (max-width: 500px) {
  
    .noticias1__criptos .content,
    .noticias2__criptos .content {
      width: 100%;
      padding: 60px 20px;
    }
  }
