@import "../utils/mixinsfunc";

.portada__inteligencia {
    width: 100%;
    height: 550px;
    background: url("../img/ia.jpg") no-repeat center center/cover;
    @include crear__flexbox;
    padding-bottom: 50px;
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
    
  
  
    & h2{
      margin-bottom: 10px;
      font-size: pixeles-rem(28);
  }
    & p {
      margin-bottom: 10px;
      font-size: pixeles-rem(18);
    }
    
    & .btn {
      margin-top: 20px;
    }

  }


.noticias1__inteligencia {
    width: 100%;
    height: 400px;
    background: url("../img/vall-e.jpg") no-repeat center center/cover;
    margin-bottom: 40px;

    & .content {
    width: 60%;
    padding: 90px 0 0 30px;
    color: #fff;
    }
    
    & p,
    .noticias2__inteligencia p {
    margin: 10px 0 20px 0;
    }
}
    
    /* Noticia grande 2*/
    .noticias2__inteligencia {
    width: 100%;
    height: 450px;
    background: url("../img/chat-inteligencia-artificial.jpg") no-repeat center center/cover;
    

    & .content {
    width: 50%;
    padding: 100px 0 0 30px;
}
}


/* Responsive */
@media (max-width: 700px){
  
    .noticias1__inteligencia .content,
    .noticias2__inteligencia .content {
      width: 80%;
    }

  }
  
  @media (max-width: 500px) {
  
    .noticias1__criptos .content,
    .noticias2__criptos .content {
      width: 100%;
      padding: 60px 20px;
    }
  }
