@import "../utils/mixinsfunc";

.portada__juegos {
    width: 100%;
    height: 550px;
    background: url("../img/juegos-esperados.jpeg") no-repeat center center/cover;
    @include crear__flexbox;
    padding-bottom: 50px;
    margin-bottom: 20px;
    color: rgb(12, 105, 226);
    
  
  
    & h2{
      margin-bottom: 10px;
      font-size: pixeles-rem(28);
  }
    & p {
      margin-bottom: 10px;
      font-size: pixeles-rem(18);
    }
    
    & .btn {
      margin-top: 20px;
    }

  }


.noticias1__juegos {
    width: 100%;
    height: 450px;
    background: url("../img/ibai.jpeg") no-repeat center center/cover;
    margin-bottom: 40px;

    & .content {
    width: 80%;
    padding: 90px 0 0 30px;
    color: #fff;
    }
    
    & p,
    .noticias2__juegos p {
    margin: 10px 0 20px 0;
    }
}
    
    /* Noticia grande 2*/
    .noticias2__juegos {
    width: 100%;
    height: 400px;
    background: url("../img/player-game.png") no-repeat center center/cover;
    

    & .content {
    width: 50%;
    padding: 100px 0 0 30px;
}
}


/* Responsive */
@media (max-width: 700px){
  
    .noticias1__juegos .content,
    .noticias2__juegos .content {
      width: 80%;
    }

  }
  
  @media (max-width: 500px) {
  
    .noticias1__juegos .content,
    .noticias2__juegos .content {
      width: 100%;
      padding: 60px 20px;
    }
  }
