@import "../utils/mixinsfunc";

.container__noticias{
    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: flex-end;
}

.title__noticia{
    text-align: flex-start;
    margin: 20px 0px;
}

.img__noticia{
    justify-content: center;
    width: 80%;
    margin: 50px;
}