@import "../utils/mixinsfunc";
@import "../utils/variables";

/* Portada */

.btn {
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 40px;
    margin-top: 20px;
    background: #262626;
    color: #fff;
    font-size: pixeles-rem(15);
    border: 1px solid $color__principal;
  
   &:hover {
    opacity: 0.9;
  }

}
  
  
  .portada {
    width: 100%;
    height: 550px;
    background: url("../img/portada.jpg") no-repeat center center/cover;
    @include crear__flexbox;
    padding-bottom: 50px;
    margin-bottom: 20px;
    color: rgb(189, 0, 117);
    
  
  
  & h2{
    margin-bottom: 10px;
    font-size: pixeles-rem(28);
}
  & p {
    margin-bottom: 10px;
    font-size: pixeles-rem(18);
  }
  
  & .btn {
    margin-top: 20px;
  }

  }